<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{title: 'Inicio', css:'/home'}) %>
<body>
    <%- include("./partials/header.ejs") %>

    <main class="principal-title-home">
        <img id="cover-home" src="/images/cover.png" alt="cover">
        <div class="container-title-home">
            <p id="title-home">CAVA REAL</p>
            <p id="subtitle-home">El sabor real del Vino</p>
            <a id="button-title-home" href="/product/all">A degustar!</a>
        </div>
    </main>

    <% let i = 0 %>

    <% categoriesProducts.forEach(cp => { %>
        <% if (i % 2 == 0) { %>
            <section class="product-category-home-carrousel-black">
                <p class="title-category"><%= cp.nameCategory %></p>
                <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
                <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
                <a class="container-product" href="/product/detail/<%= cp.product.id %>">
                        <div class="information-product">
                            <p class="name-product"><%= cp.product.name %></p>
                            <p class="description-product"><%= cp.product.description %></p>
                            <div class="container-information-small-card">
                                <div class="information-small-card">
                                    <p class="anotation-small-card"><%= cp.id == 1? 'VIÑEDO' : cp.id == 2? 'PRODUCTOR' : cp.id == 3 ? 'MATERIAL' : ''%></p>
                                    <% cp.details.forEach(detail => { %>
                                        <% if (cp.id == 1 && detail.Attribute.name == 'vineyard') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                        <% if (cp.id == 2 && detail.Attribute.name == 'producer') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                        <% if (cp.id == 3 && detail.Attribute.name == 'material') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                                <div class="information-small-card">
                                    <p class="anotation-small-card"><%= cp.id == 1? 'VARIEDAD' : cp.id == 2? 'ELABORACION' : cp.id == 3 ? 'DETALLE' : ''%></p>
                                    <% cp.details.forEach(detail => { %>
                                        <% if (cp.id == 1 && detail.Attribute.name == 'variety') { %>
                                            <p><%= detail.value %></p>
                                        <% }%>
                                        <% if (cp.id == 2 && detail.Attribute.name == 'elaboration') { %>
                                            <p><%= detail.value %></p>
                                        <% }%>
                                        <% if (cp.id == 3 && detail.Attribute.name == 'detail') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                       <div class="image-product">
                            <img src="/images/<%= cp.product.img %>" alt="<%= cp.product.name %>">
                        </div>
                    </a>
            </section>
        <% } else {%>
            <section class="product-category-home-carrousel-white" %>>
                <p class="title-category"><%= cp.nameCategory %></p>
                <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
                <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
                <a class="container-product" href="/product/detail/<%= cp.product.id %>">
                        <div class="information-product">
                            <p class="name-product"><%= cp.product.name %></p>
                            <p class="description-product"><%= cp.product.description %></p>
                            <div class="container-information-small-card">
                                <div class="information-small-card">
                                    <p class="anotation-small-card"><%= cp.id == 1? 'VIÑEDO' : cp.id == 2? 'PRODUCTOR' : cp.id == 3 ? 'MATERIAL' : ''%></p>
                                    <% cp.details.forEach(detail => { %>
                                        <% if (cp.id == 1 && detail.Attribute.name == 'vineyard') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                        <% if (cp.id == 2 && detail.Attribute.name == 'producer') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                        <% if (cp.id == 3 && detail.Attribute.name == 'material') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                                <div class="information-small-card">
                                    <p class="anotation-small-card"><%= cp.id == 1? 'VARIEDAD' : cp.id == 2? 'ELABORACION' : cp.id == 3 ? 'DETALLE' : ''%></p>
                                    <% cp.details.forEach(detail => { %>
                                        <% if (cp.id == 1 && detail.Attribute.name == 'variety') { %>
                                            <p><%= detail.value %></p>
                                        <% }%>
                                        <% if (cp.id == 2 && detail.Attribute.name == 'elaboration') { %>
                                            <p><%= detail.value %></p>
                                        <% }%>
                                        <% if (cp.id == 3 && detail.Attribute.name == 'detail') { %>
                                            <p><%= detail.value %></p>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                       <div class="image-product">
                            <img src="/images/<%= cp.product.img %>" alt="<%= cp.product.name %>">  
                        </div>
                    </a>
            </section>
    <% } %>
    <% i++ %>
    <% }) %>
        
    <%- include("./partials/benefits.ejs") %>
    <%- include("./partials/footer.ejs") %>
</body>
</html>