<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{title: 'Nuevo Producto', css:'/add'}) %>
<body>

    <%- include("./partials/header.ejs") %>

    <main>
        <div class="register-box">
            <h2>Agregar Producto</h2>
            <p class="subtitulo">Por favor complete la información a continuación</p>
            <form action="/product/add" method="post" enctype="multipart/form-data">
                
                    <div class="input-content">
                        <label for="name" class="label-bar">Nombre Del Producto</label>
                        <input type="text" id="name" name="name"  placeholder="Nombre Del Producto" class="input-bar" value="<%= locals.old && old.name ? old.name : '' %>">
                        <% if (typeof errors !== 'undefined' && errors.name) { %> 
                            <div>
                                <small class="msg-error"><%= errors.name.msg %></small>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-content">
                        <label for="category" class="label-bar">Tipo De Producto</label>
                        <select id="tipProduct" name="categoryId"  class="input-bar" >
                            <option value="" selected>Elige una opcion</option>
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>" <%= locals.old && old.categoryId && old.categoryId == category.id ? 'selected' : '' %>><%= category.name %></option>
                            <%}) %>
                          </select>
                        <% if (typeof errors !== 'undefined' && errors.categoryId) { %> 
                            <div>
                                <small class="msg-error"><%= errors.categoryId.msg %></small>
                            </div>
                        <% } %>
                    </div>
                    <div class="input-content">
                        <label for="descriptionProduct" class="label-bar">Descripción Del Producto</label>
                        <textarea name="description" id="descriptionProduct" cols="30" rows="10"><%= locals.old && old.description ? old.description : '' %></textarea>
                        <% if (typeof errors !== 'undefined' && errors.description) { %> 
                            <div>
                                <small class="msg-error"><%= errors.description.msg %></small>
                            </div>
                        <% } %>
                    </div>

                    <div class="input-content">
                        <label for="precio" class="label-bar">Precio</label>
                        <input type="number" id="precio" name="price" requirestep="0.01" placeholder="$10.000.00" min="0" class="input-bar" value="<%= locals.old && old.price ? old.price : '' %>">
                        <% if (typeof errors !== 'undefined' && errors.price) { %> 
                            <div>
                                <small class="msg-error"><%= errors.price.msg %></small>
                            </div>
                        <% } %>
                    </div>

                    <div id="form-wines" >
                        <%- include('./forms/wines.ejs', { details, errors, old}) %>
                    </div>
                    <div id="form-liquors">
                        <%- include("./forms/liquors.ejs", { details, errors, old }) %>
                    </div>
                    <div id="form-accesories">
                        <%- include("./forms/accesories.ejs", { details, errors, old }) %>
                    </div>

                    <div class="input-content">
                        <label for="img" class="label-bar">Imagen Del Producto</label>
                            <% if (imagePath) { %>
                            <img class="img-actual" src="<%= imagePath %>" alt="Imagen Actual" />
                            <% } %>
                        <input type="file" id="img" name="img" class="input-bar" accept=".png">
                            <% if (typeof errors !== 'undefined' && errors.img) { %> 
                                <div>
                                    <small class="msg-error"><%= errors.img.msg %></small>
                                </div>
                            <% } %>
                    </div>

                    
                    <div class="botones">
                        <button type="submit">Subir Producto</button>
                        <button type="reset" class="delete">Borrar</button>
                    </div>

                    <p class="recaptcha-info">
                        Este sitio esta protegido por reCAPTCHA y se aplican las Politicas de Privacidad de Google
                        y los terminos del Servicio.
                    </p>

                    
                    
            </form>
        </div>
    </main>

    <%- include("./partials/footer.ejs")%>
    <script src="/js/productAdd.js"></script>
</body>

</html>