<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{title: 'Productos', css:'/list'}) %>
<body>

    <%- include("./partials/header.ejs") %>

    <section class="front-page-list">
        <img src="/images/cover-list.png" alt="cover">
        <p id="title-cover-list">CAVA REAL</p>
        <form action="/product/search" class="sercher-list" method="get" required>
            <input type="text" name="searched" placeholder="Cabernet...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </section>
    <section class="container-title-list">
        <p id="title-list">PRODUCTOS</p>
        <form action="/product/filter" class="container-filters" method="get">
            <select name="categoryFilter" id="category-filter">
                <option value="" selected>Category</option>
                <%# categories.forEach(category => { %>
                    <option value="<%# category.id %>"><%# category.name %></option>
                <%#}) %>
              </select>
            </select>
            <div class="container-price-filter">
                <label for="price-filter">$100</label>
                <input type="range" name="priceFilter" id="price-filter" max="100000" min="1000" step="100">
                <label for="price-filter">$10.000</label>
            </div>
            <div class="container-discount-filter">
                <label for="discount-filter">%5</label>
                <input type="range" name="discountFilter" id="discount-filter" max="50" min="5" step="5">
                <label for="discount-filter">%50</label>
            </div>
            <button type="submit">Filtrar</button>
        </form>
    </section>
    <main class="container-products-list">
        <% products.forEach(product => { %>
        <div class="container-product-medium-card">
            <img src="/images/<%= product.img %>" alt="">
            <p class="name-product-card"><%= product.name %></p>
            <p class="notation-product-card"><%= product.variedad %></p>
            <p class="price-product-card">$<%= product.priceUnity %></p>
            <a id="link-detail" href=""><i class="fa-solid fa-arrow-right"></i></a>
            <a id="link-cart" href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <% }) %>
    </main>
    <div class="pagination-arrows">
        <i id="arrow-left" class="fa-solid fa-chevron-left"></i>
        <i id="arrow-right" class="fa-solid fa-chevron-right"></i>
    </div>

    <%- include("./partials/benefits.ejs") %>
    <%- include("./partials/footer.ejs") %>
        
        


                <%# products.forEach(e => { %>
                    <!-- <div class="card_producto">
                        <div class="cont_imgproducto">
                            <img src="/images/<%# e.img %>" alt="producto">
                        </div>
                        <p class="precio">$ <%# e.priceUnity %></p>
                        <p class="descuento">10% Off</p>
                        <p class="nombre"> <%# e.name %> </p>
                        <div class="cont_dsc">
                            <a href="/product/detail/<%# e.id %>" class="btn_dsc">Ver producto</a>
                            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div> -->
                <%# }) %>
    
                <%# if (isUserLogger) { %>
                    <!-- <a href="/product/add" class="btn_dsc"> Crear producto </a> -->
                <%# } %>
                

</body>
</html>
