<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{title: 'Editar Producto', css:'/add'}) %>

<body>
    <script src="/js/productEdit.js"></script>

    <%- include("./partials/header.ejs") %>

    <main>
        <div class="register-box">
            <h2>Editar Producto</h2>
            <p class="subtitulo" >Por favor complete la información a continuación</p>
            <form action="/product/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">




                <div class="input-content">
                    <label for="name" class="label-bar">Nombre Del Producto</label>
                    <input type="text" id="name" name="name" required placeholder="Nombre Del Producto" class="input-bar" value="<%= product.name ? product.name : null %>">
                </div>
                <div class="input-content">
                    <label for="category" class="label-bar">Tipo De Producto</label>
                    <select id="tipProduct" name="categoryId" class="input-bar" required>
                        <option value="<%= product.categoryId %>" selected><%= product.category.name%></option>
                    </select>
                </div>
                <div class="input-content">
                    <label for="descriptionProduct" class="label-bar">Descripción Del Producto</label>
                    <textarea name="description" id="descriptionProduct" cols="30" rows="10"> <%= product.description ? product.description : null %></textarea>
                </div>

                <div class="input-content">
                    <label for="precio" class="label-bar">Precio</label>
                    <input type="number" id="precio" name="price" requirestep="0.01" placeholder="$10.000.00" min="0" class="input-bar"  value="<%= product.price ? product.price : null %>">
                </div>

                <% if (product.categoryId == 1) { %>
                    <%- include("./forms/wines.ejs", { details }) %>
                <% } else if (product.categoryId == 2) { %>
                    <%- include("./forms/liquors.ejs", { details }) %>
                <% } else if (product.categoryId == 3) { %>
                    <%- include("./forms/accesories.ejs", { details }) %>
                    <% } %>

                    <div class="input-content">
                        <label for="img" class="label-bar">Imagen Del Producto</label>
                        <img src="/images/<%= product.img %>" alt="<%= product.name %>" width="250">
                        <input type="file" id="userName" name="img"  class="input-bar" accept=".png" value="<%= product.img %>">
                    </div>
                    <div class="botones">
                        <button type="submit">Editar Producto</button>
                        <!-- <button type="reset" class="delete">Borrar</button> -->
                    </div>

                    <p class="recaptcha-info">
                        Este sitio esta protegido por reCAPTCHA y se aplican las Politicas de Privacidad de Google
                        y los terminos del Servicio.
                    </p>
                    
            </form>
        </div>
    </main>

    <%- include("./partials/footer.ejs")%>

    
</body>

</html>