<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs',{title: 'Carrito de Compra', css:'/cart'}) %>
</head>

<body>

   <%- include("./partials/header.ejs") %>
   
    <main>
      
      <div class="carr-productos">
            <div class="carr-text">
                <h1>CARRITO DE COMPRAS</h1>
            </div>

            <div class="articulos">
               <div class="divisiones">
                  <ul type="none">
                     <li class="img-pro">Producto</li>
                     <li class="descripcion">Articulo</li>
                     <li class="precio">Precio</li>
                     <li class="cantidad">Cantidad</li>
                     <li class="subtotal">Subtotal</li>
                  </ul>
               </div>

               <%# if (products.length > 0) { %>
                
               <%# products.forEach(product => { %>
                  <div class="card-articulo-mobile">
                     <a href="/cart/delete/<%# product.productId %>?_method=DELETE"><i class="fa-solid fa-trash-can" id="basura"></i></a>
                        <div class="cont_imgproducto">
                            <img src="/images/<%# product.Product.img %>" alt="producto">
                        </div>
                        <p class="descripcion"><%# product.Product.name %></p>
                        <p class="precio"> Precio: <b>$<%# product.Product.price %></b></p>
                        <form class="cantidad">
                           <label>Cantidad</label>
                           <i class="fa-solid fa-circle-minus"></i>
                           <input type="number" class="cantidad-input" min="0" max="10" value="<%# product.amount %>">
                           <i class="fa-solid fa-circle-plus"></i>
                        </form>
                        <p class="subtotal">Subtotal: <b>$<%# product.Product.price * product.amount %></b></p>
                        <i></i>
                  </div>
               <%# }) %>
               <%#} %>
               <button class="actualizar-carr" type="submit" onclick="document.location.reload()">Actualizar Carrito</button>

            </div>

      </div>

            <div class="content-resum">            
                    <h1>RESUMEN</h1>
                    <p class="entrega">Elegí dónde recibir tus compras</p>
                    <p class="entrega-sub">Podrás ver costos y tiempos de entrega precisos en todo lo que busques.</p>
                    
                    <form action=<%=isUserLogger? "/buy/" + cart.id : "" %> method=<%=isUserLogger? "post" : ""%>>
                     <div class="input-entrega">
                        <label>Pais</label>
                                <select class="barras">
                                   <option value="elegir-pais">Elegir pais</option>
                                     <option value="Argentina">Argentina</option>
                                     <option value="Bolivia"> Bolivia</option>
                                     <option value="Paraguay">Paraguay</option>
                                     <option value="Brasil">Brasil</option>
                                </select>
                     </div>
                     <div class="input-entrega">
                        <label>Provincia</label>
                        <select class="barras">
                           <option value="elegir-provincia">Eligir provincia</option>
                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Catamarca">Catamarca</option>
                            <option value="Chaco">Chaco</option>
                            <option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Corrientes">Corrientes</option>
                            <option value="Entre Ríos">Entre Ríos</option>
                            <option value="Formosa">Formosa</option>
                            <option value="Jujuy">Jujuy</option>
                            <option value="La Pampa">La Pampa</option>
                            <option value="La Rioja">La Rioja</option>
                            <option value="Mendoza">Mendoza</option>
                            <option value="Misiones">Misiones</option>
                            <option value="Neuquén">Neuquén</option>
                            <option value="Río Negro">Río Negro</option>
                            <option value="Salta">Salta</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Luis">San Luis</option>
                            <option value="Santa Cruz">Santa Cruz</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Santiago del Estero">Santiago del Estero</option>
                            <option value="Tierra del Fuego">Tierra del Fuego</option>
                            <option value="Tucumán">Tucumán</option>
                        </select>
                     </div>
                     <div class="input-entrega">
                           <label for="cp">Codigo Postal</label>
                           <input type="number" id="cp" name="tentacles" class="barras">
                     </div>

                     <div class="linea-carrito"></div>

                     <p class="envio">Costo de envio: <b>$5.000</b></p>
                     <p class="sub-total">Subtotal: <b>$<%# cart.totalPrice %></b></p>

                     <div class="linea-carrito"></div>

                     <div class="cont-descuento">
                           <input type="number">
                           <button class="codigo">Agregar codigo de descuento</button>
                     </div>

                     <div class="linea-carrito"></div>

                     <p class="total">Total del pedido: <b>$<%# cart.totalPrice + 5000 %></b></p>

                     <button class="caja" type="submit">Comprar</button>
                    </form>
            </div>
                                    
    </main>

    <%- include("./partials/footer.ejs")%>
</body>
</html>

        
