s<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs',{title: 'Iniciar Sesion', css:'/users/login'}) %>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <div class="login-box">
            <h2>Conéctate a tu cuenta</h2>
            <form action="/user/login" method="post">
                <label class="label-bar" for="email">Ingresa tu email</label>
                <input class="input-bar" type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>">
                <% if (typeof errors !== 'undefined' && errors.email) { %> 
                    <div class="div-error">
                        <small class="msg-error"><%= errors.email.msg %></small>
                    </div>
                <% } %>
                <label class="label-pass" for="password">Ingresa tu contraseña</label>
                <input class="input-pass" type="password" id="password" name="password" value="<%= locals.old && old.password ? old.password : '' %>">
                <% if (typeof errors !== 'undefined' && errors.password) { %> 
                    <div class="div-error">
                        <small class="msg-error"><%= errors.password.msg %></small>
                    </div>
                <% } %>
                <div class="remember-me-container">
                    <input type="checkbox" id="keepUserLogger" name="keepUserLogger" value="true"> 
                    <label for="keepUserLogger"> Recordar </label>
                </div>
                <div class="botones">
                    <button type="submit">Entrar</button>
                <button type="button" class="google-login">Entrar con Google</button>
                </div>
                <p class="recaptcha-info">Este sitio está protegido por reCAPTCHA y se aplican la política de privacidad de Google y los términos de servicio.</p>
                <div class="login-options">
                    <a href="/user/register">¿No tienes una cuenta? <b>Entra aquí</b></a>
                    <a href="#">¿Contraseña olvidada? <b>Recuperar contraseña</b></a>
                </div>
            </form>
        </div>
    </main>

    <%- include("../partials/footer.ejs")%>

</body>
</html>
