<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <link rel="icon" href="/images/icon-pestaña.png">

    <title>Registro</title>
</head>

<body>

    <%- include("../partials/header.ejs") %>
    <%- include("../partials/nav.ejs") %>

    <main>
        <div class="register-box">
            <h2>Regístrate</h2>
            <p class="subtitulo" >Por favor complete la información a continuación</p>
            <form action="/user/register" method="post" enctype="multipart/form-data"">
                
                <div class="input-content">
                    <label for="firstName" class="label-bar">Nombre</label>
                    <input type="text" id="firstName" name="firstName"  placeholder="Nombre" class="input-bar" value="<%= locals.old && old.firstName ? old.firstName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.firstName) { %> 
                        <div>
                            <p class="msg-error""><%= errors.firstName.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="lastName" class="label-bar">Apellido</label>
                    <input type="text" id="lastName" name="lastName"  placeholder="Apellido" class="input-bar" value="<%= locals.old && old.lastName ? old.lastName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.lastName) { %> 
                        <div>
                            <p class="msg-error""><%= errors.lastName.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="userName" class="label-bar">Usuario</label>
                    <input type="text" id="userName" name="userName"  placeholder="Usuario" class="input-bar" value="<%= locals.old && old.userName ? old.userName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.userName) { %> 
                        <div>
                            <p class="msg-error""><%= errors.userName.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="edad" class="label-bar">Fecha de Nacimiento</label>
                    <input type="date" id="edad" name="edad"  class="input-bar" value="<%= locals.old && old.edad ? old.edad : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.edad) { %> 
                        <div>
                            <p class="msg-error""><%= errors.edad.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="email" class="label-bar">E-mail</label>
                    <input type="email" id="email" name="email"  placeholder="E-mail" class="input-bar" value="<%= locals.old && old.email ? old.email : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.email) { %> 
                        <div>
                            <p class="msg-error""><%= errors.email.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="state" class="label-bar">País</label>
                    <input type="text" id="state" name="state"  placeholder="País " class="input-bar" value="<%= locals.old && old.state ? old.state : '' %>">
                </div>

                <div class="input-content">
                    <label for="adress" class="label-bar">Direccion</label>
                    <input type="text" id="adress" name="adress"  placeholder="Calle: avenida siempre viva 426" class="input-bar" value="<%= locals.old && old.adress ? old.adress : '' %>">
                </div>

                <div class="input-content">
                    <label for="postalCode" class="label-bar">Código postal</label>
                    <input type="text" id="postalCode" name="postalCode"  placeholder="Código Postal " class="input-bar" value="<%= locals.old && old.postalCode ? old.postalCode : '' %>">
                </div>

                <div class="input-content">
                    <label for="password" class="label-bar">Contraseña</label>
                    <input type="password" id="password" name="password"  placeholder="Contraseña" class="input-bar" value="<%= locals.old && old.password ? old.password : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.password) { %> 
                        <div>
                            <p class="msg-error""><%= errors.password.msg %></p>
                        </div>
                    <% } %>
                </div> 

                <div class="input-content">
                    <label for="passwordConfirmation" class="label-bar">Confirmar Contraseña</label>
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation" 
                        placeholder="Confirmar Contraseña" class="input-bar" value="<%= locals.old && old.passwordConfirmation ? old.passwordConfirmation : '' %>">
                        <% if (typeof errors !== 'undefined' && errors.passwordConfirmation) { %> 
                        <div>
                            <p class="msg-error""><%= errors.passwordConfirmation.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="subscripcion" name="subscripcion" value="Activa" <%= locals.old && old.subscripcion && old.subscripcion == 'Activa' ? 'Checked' : '' %>>
                    <label for="subscripcion"> Suscripcion a notificaciones sobre descuentos y noticias de la página </label>
                </div>

                <div class="input-content">
                    <label for="img" class="label-bar">Imagen Del Producto</label>
                    <input type="file" id="img" name="img" class="input-bar" accept=".png,.jpg">
                </div>

                <div class="botones">
                    <button type="submit">Crear Cuenta</button>
                    <button type="reset" class="delete">Borrar</button>
                </div>

                    <p class="recaptcha-info">
                        Este sitio esta protegido por reCAPTCHA y se aplican las Politicas de Privacidad de Google
                        y los terminos del Servicio.
                    </p>
                    
            </form>
            <div class="login-options">
                <a href="#">¿Ya tienes una cuenta? <b>Entra aquí</b></a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer.ejs")%>

</body>

</html>