<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs',{title: 'Registro', css:'/users/register'}) %>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <div class="register-box">
            <h2>Regístrate</h2>
            <p class="subtitulo" >Por favor complete la información a continuación</p>
            <p class="msg-errors-all"></p>
            <form action="/user/register" id="form-register" method="post" enctype="multipart/form-data"">
                
                <div class="input-content">
                    <label for="firstName" class="label-bar">Nombre</label>
                    <input type="text" id="firstName" name="firstName"  placeholder="Nombre" class="input-bar" value="<%= locals.old && old.firstName ? old.firstName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.firstName) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.firstName.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="lastName" class="label-bar">Apellido</label>
                    <input type="text" id="lastName" name="lastName"  placeholder="Apellido" class="input-bar" value="<%= locals.old && old.lastName ? old.lastName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.lastName) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.lastName.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="userName" class="label-bar">Usuario</label>
                    <input type="text" id="userName" name="userName"  placeholder="Usuario" class="input-bar" value="<%= locals.old && old.userName ? old.userName : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.userName) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.userName.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="birthdate" class="label-bar">Fecha de Nacimiento</label>
                    <input type="date" id="birthdate" name="birthdate"  class="input-bar" max="<%= date %>"  value="<%= locals.old && old.birthdate ? old.birthdate : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.birthdate) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.birthdate.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="email" class="label-bar">E-mail</label>
                    <input type="email" id="email" name="email"  placeholder="E-mail" class="input-bar" value="<%= locals.old && old.email ? old.email : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.email) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.email.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="phone" class="label-bar">Telefono o celular</label>
                    <input type="tel" id="phone" name="phone" placeholder="3884888888" class="input-bar" pattern="[0-9]{10}" value="<%= locals.old && old.phone ? old.phone : '' %>">
                        <% if (typeof errors !== 'undefined' && errors.phone) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.phone.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-content">
                    <label for="state" class="label-bar">País</label>
                    <input type="text" id="state" name="state"  placeholder="País " class="input-bar" value="<%= locals.old && old.state ? old.state : '' %>">
                </div>

                <div class="input-content">
                    <label for="address" class="label-bar">Direccion</label>
                    <input type="text" id="address" name="address"  placeholder="Calle: avenida siempre viva 426" class="input-bar" value="<%= locals.old && old.address ? old.address : '' %>">
                </div>

                <div class="input-content">
                    <label for="postalCode" class="label-bar">Código postal</label>
                    <input type="number" id="postalCode" name="postalCode"  placeholder="Código Postal " class="input-bar" value="<%= locals.old && old.postalCode ? old.postalCode : '' %>">
                </div>

                <div class="input-content">
                    <label for="password" class="label-bar">Contraseña</label>
                    <input type="password" id="password" name="password"  placeholder="Contraseña" class="input-bar" value="<%= locals.old && old.password ? old.password : '' %>">
                    <% if (typeof errors !== 'undefined' && errors.password) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.password.msg %></small>
                        </div>
                    <% } %>
                </div> 

                <div class="input-content">
                    <label for="passwordConfirmation" class="label-bar">Confirmar Contraseña</label>
                    <input type="password" id="passwordConfirmation" name="passwordConfirmation" 
                        placeholder="Confirmar Contraseña" class="input-bar" value="<%= locals.old && old.passwordConfirmation ? old.passwordConfirmation : '' %>">
                        <% if (typeof errors !== 'undefined' && errors.passwordConfirmation) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.passwordConfirmation.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="subscripcion" name="subscription" <%= locals.old && locals.old.subscription && locals.old.subscription.value === 1 ? 'checked' : '' %>>
                    <label for="subscripcion"> Suscripcion a notificaciones sobre descuentos y noticias de la página </label>
                </div>

                <div class="input-content">
                    <label for="img" class="label-bar">Imagen De Perfil</label>
                    <% if (imagePath) { %>
                        <img class="img-actual" src="<%= imagePath %>" alt="Imagen Actual" />
                    <% } %>
                    <input type="file" id="img" name="image" class="input-bar" accept=".png,.jpg,.jpeg,.gif">
                    <% if (typeof errors !== 'undefined' && errors.image) { %> 
                        <div>
                            <small class="msg-error alert-warning"><%= errors.image.msg %></small>
                        </div>
                    <% } %>
                </div>

                <div class="botones">
                    <button type="submit">Crear Cuenta</button>
                    <button type="reset" class="delete">Borrar</button>
                </div>

                    <p class="recaptcha-info">
                        Este sitio esta protegido por reCAPTCHA y se aplican las Politicas de Privacidad de Google
                        y los terminos del Servicio.
                    </p>
                    
            </form>
            <div class="login-options">
                <a href="/user/login">¿Ya tienes una cuenta? <b>Entra aquí</b></a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer.ejs")%>

    <script src="/js/registerUser.js"></script>
</body>

</html>